@model TravelTripProject.Models.Classes.Blog
@{
    ViewBag.Title = "NewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add a new post</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(a => a.Title)
    @Html.TextBoxFor(a => a.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(a => a.Date)
    @Html.TextBoxFor(a => a.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(a => a.ImageUrl)
    @Html.TextBoxFor(a => a.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(a => a.Description)
    @Html.TextAreaFor(a => a.Description,15,1, new { @class = "form-control" })
    <br />

    <button type="submit" class="btn btn-success">Save</button>
</form>

